/* shared styles */
*{
  margin: 0;
  padding: 0;
  font-family: Inter;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.section-title{
  font-family: Noto-serif;
  font-size: 3.125rem;
  font-weight: bold;
}
.description{
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.btn{
  background-color: #E95A08;
  color: white;
  padding: 19px 80px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.orange{
  color: #E95A08;
}

/* header styles */
/* navbar styles */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
nav ul{
  display: flex;
  
  gap: 48px;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
#home{
  color: #252432;
  font-weight: bold;
}
.nav-mid{
  color: #8987A1;
}

/* banner styles */
.banner{
  margin-top: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.banner h1{
  font-family: Noto-serif;
  font-size: 4.063rem;
  margin-bottom: 13px;
}
.banner p{
  max-width: 570px;
}
.banner img{
  display: block;
  width: 50%;
}
/* main starts here */
/* plants */
.plants{
  margin-bottom: 120px;
}
.plants-top{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plants-top p{
  text-align: center;
  max-width: 888px;
  margin-top: 16px;
  margin-bottom: 49px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img{
  width: 100%;
  margin-bottom: 30px;
}
.card p{
  font-size: 1.375rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 20px;
}
.card span{
  font-size: 1.375rem;
  font-weight: bold;
  color: #111111;
  margin-bottom: 30px;
}
.card button{
  width: 100%;
}

/* Flower and Plants Lover */
.flower{
  display: flex;
  align-items: center;
  gap: 60px;
}
.flower .image{
 flex: 1;
}
.flower img{
  width: 100%;
  display: block;
}
.flower-right{
  flex: 1;
}
.flower-right h1{
  margin-bottom: 20px;
}
.flower-right ul li{
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  padding-left: 1rem;
}
.bullet{
  margin-right: 1rem;
}

/* Latest Deals */
.deals{
  margin-top: 134px;
}